*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
font-family: 'arial';

}
html{
  font-size: 1rem;
}
.container{
  margin:0 100px 0 100px;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
}
.col-1 img{
  width: 550px;
  height: 100vh;
  object-fit: cover;
}
.col-2{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.col-2 *{
  margin-top: 10px;
}

.col-2 .col-title{
  text-align: center;
  font-weight: 200;
}
.col-2 .col-text{
  font-weight: 300;

  text-align: center;
  width: 380px;
  color: gray;
  word-spacing: 2px;
  line-height: 1.5rem;  
}
.col-2 img{
  width: 282px;
  height: 307px;
  object-position: 50% 100%;
  object-fit: cover;
}

.icons{
  list-style: none;
  display: flex;

}
.icon-item i{
  font-size: 1.6rem;
  color: darkgray;
  margin:auto;
}
.icon-item{
  margin-left: 1rem;
  margin-right: 1rem;
}

footer{
  width: 100%;
  height: 100px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  color: white;
}
footer b a {
  color: red;
  text-decoration: none;
}


@media screen and (max-width:1000px) {
  .row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col-1 img{
    width: 550px;
    height: 50vh;
    object-fit: cover;
  }
  html{
    font-size: 1.2rem;
  }
  .container{
    margin:0 100px 50px 100px;
  }
}